<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>
			{% block title %}Photo_Grafies
			{% endblock %}
		</title>

		<!-- CSS Bootstrap -->
		<link
		rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

		<!--Our CSS-->
		<link rel="stylesheet" href="/assets/css/style.css"> {% block stylesheet %}{% endblock %}
		<link rel="icon" href="/assets/images/favicon.png">
	</head>

	<body>
		{% include '_header.html.twig' %}
		{% block content %}{% endblock %}
   	    {% include '_footer.html.twig' %}
		{% block javascript %}{% endblock %}

<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="/assets/js/header.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	</body>
</html>
