footer{
    text-align: center;
    background-color: var(--light-marron);
    color: var(--black);
}
.item{
    text-align: center;
    max-height: 300px;
    margin: auto;
    display: inline-block;
    max-width: 312px;
    min-width: 240px;
    padding: 3rem 0;

}
.item h2 {
    padding-bottom: .5rem;
}

.sponsor{
    display: flex;
    justify-content: space-around;
}
.sponsor img{
    max-width: 80px;
    max-height: 60px;
}

.item img{
    height: 100px;
    width: auto;
}