@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
.h-head-text {
  width: 90%;
  margin: auto;
}
.h-head-text h2 {
  text-align: center;
}

.h-head-img {
  text-align: center;
}
.h-head-img img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin: 2rem 0;
}
.h-head-img #see-menu {
  background-color: black;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  font-size: x-large;
}

.post-head-text {
  padding: 2rem;
  margin: auto;
  text-align: center;
  font-size: xx-large;
}
.post-head-text p:nth-child(1) {
  padding-top: 2rem;
}
.post-head-text p {
  padding: 0.5rem 0rem;
}
.post-head-text p span {
  color: var(--dark-green);
  font-size: large;
}

.tracking {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 4rem;
}
.tracking form p {
  border: none;
}
.tracking form input {
  padding: 0.5rem 1.8rem;
  border-radius: 20px;
}
.tracking .fa-map-marker-alt {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
}

.how-it-works {
  background-image: url("/assets/images/background-images/bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  margin: auto;
  text-align: center;
}
.how-it-works .head-hw h1 {
  font-family: "Satisfy", cursive;
  padding-bottom: 3rem;
}
.how-it-works img {
  width: 100%;
  height: auto;
}
.how-it-works .hw-steps {
  display: inline-block;
  max-height: max-content;
  max-width: 250px;
  margin: auto;
  text-align: center;
}
.how-it-works .hw-steps p {
  font-size: large;
}
.how-it-works .hw-steps img {
  height: 100px;
  width: 100px;
}
.how-it-works .hw-steps h5 {
  padding: 0.5rem 1.5rem;
  background-color: var(--dark-violet);
  color: var(--white);
  max-width: max-content;
  margin: 1rem auto;
}

.command {
  padding: 4rem 0;
  text-align: center;
  letter-spacing: 1.5px;
}
.command a {
  background-color: var(--dark-green);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  color: var(--white);
}

.rules {
  background-color: var(--dark-violet);
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}
.rules .head-rules {
  display: flex;
  justify-content: center;
}
.rules .head-rules h1 {
  color: var(--light-marron);
  text-align: center;
  font-family: "Satisfy", cursive;
  padding-bottom: 2rem;
}
.rules .box-rules {
  padding: 1rem 0;
  display: inline-block;
  max-width: 250px;
  max-height: 300px;
}
.rules .box-rules img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.rules .box-rules p {
  color: var(--white);
}

.newsletter {
  padding: 2rem 0;
  width: 90%;
  margin: auto;
  text-align: center;
}
.newsletter p {
  padding: 1rem 0;
}
.newsletter .box-newsletter {
  display: flex;
  justify-content: center;
}
.newsletter .box-newsletter #bn-email {
  border-radius: 20px;
  padding: 0.5rem 0.5rem;
}
.newsletter .box-newsletter #bn-ok {
  border-radius: 50%;
  padding: 0.5rem;
  background-color: var(--dark-green);
  color: var(--white);
}

.box-msg {
  display: grid;
  padding: 8rem 0 2rem 0;
}
.box-msg .success {
  background-color: var(--dark-green);
  padding: 0.1rem 0.5rem;
  text-align: center;
  color: var(--white);
  width: max-content;
  margin: auto;
}
.box-msg .alert {
  background-color: var(--red);
  padding: 0.1rem 0.5rem;
  text-align: center;
  color: var(--white);
  margin: auto;
  width: auto;
}



/*=================
  NOS MENUS - MQ
=================*/
@media screen and (min-width: 700px) {
  .card-cooker {
    display: flex;
    padding: 3rem 0;
  }
  .card-cooker img {
    width: 50%;
    height: auto;
  }
  .card-cooker .card-menu {
    margin: auto;
    width: 70%;
  }
  .card-cooker .card-menu .menu .menu-wrap img {
    height: 150px;
    width: 150px;
  }
}
/*=================
  SINGLE MENU
=================*/
.main-menu {
  padding: 15rem 0 5rem 0;
}
.main-menu .back-menu {
  position: sticky;
  top: 0;
  right: 0;
}
.main-menu .back-menu .fas {
  font-size: x-large;
  padding: 1rem;
  border-radius: 50%;
  background-color: var(--light-marron);
  color: var(--black);
}
.main-menu .order {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
.main-menu .order .command-button {
  text-align: center;
  background-color: var(--black);
  color: var(--white);
  padding: 0.55rem 0.85rem;
  height: min-content;
}
.main-menu .order .command-button h1 {
  color: var(--white);
  margin: auto;
}
.main-menu .order .number-order {
  padding-bottom: 4rem;
}
.main-menu .order .number-order #menu-price {
  background-color: var(--dark-violet);
  color: var(--white);
  padding: 0.25rem 0.85rem;
  font-size: xx-large;
}
.main-menu .order .number-order p:nth-child(2) {
  border: 1px solid var(--black);
  padding: 0.25rem 0.85rem;
  margin: 0 1rem;
}
.main-menu .order .number-order #this-menu {
  background-color: var(--black);
  color: var(--white);
  padding: 0.25rem 0.85rem;
}
.main-menu .top-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main-menu .top-3 .top-card {
  display: inline-block;
  max-width: 300px;
  max-height: 500px;
  padding-bottom: 60rem;
  margin: 0 3rem;
}
.main-menu .top-3 .top-card p {
  color: var(--dark-green);
  font-weight: bold;
  padding-top: 0.5rem;
}
.main-menu .top-3 .top-card img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 50%;
  border: 8px solid var(--dark-green);
}


/*=================
  NOT FOUND
=================*/
.not-found {
  height: 100vh;
  padding-top: 150px;
  text-align: center;
}

/*# sourceMappingURL=_home.css.map */

/* images page index */

.three-pictures {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

/* .three-pictures img {
  
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 20%;
  border-radius: 15px;
} */



.three-pictures img {
  transition: transform .2s; /* Animation */
  width: 20%;
  overflow: hidden;
}




.three-pictures img:hover {
  transform: scale(2.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  margin-left: auto;
  margin-right: auto;
  }